:root {
  /* fonts */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* colors */
  --accent-color: #2196f3;
  --nav-txt-cl: #212121;
  --btn-hover: #188ce8;
  --white-color: #ffffff;
  --often-color: #757575;
  /* bg-colors */
  --hero-color: #2f303a;
  /* others */
}

body {
  font-family: var(--main-font), sans-serif;
  font-size: 14px;
  line-height: 1.67;
  color: var(--often-color);
}
/* reset start */
h1,
h2,
h3,
p,
ul {
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  outline: 1px solid red;
}
/* common styles start */
.link {
  text-decoration: none;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* reset end */
/* common styleas end */
.logo {
  color: var(--accent-color);
  font-size: 26px;
  font-family: var(--secondary-font);
}
.logo-st {
  color: var(--nav-txt-cl);
  font-size: 26px;
  margin-right: 93px;
}

.footer-container {
 padding-top: 60px;
}

.studio {
  font-size: 26px;
}

.footer > .logo-st {
  color: var(--white-color);
}

.header-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--nav-txt-cl);
}

.header-list {
  display: flex;
}

.header-list-contact {
  display: flex;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
/* hero */
.hero {
  background-color: var(--hero-color);
  display: flex;
  height: 600px;
 padding: 200px;
}

.header-list-item:not(:last-child) {
  margin-right: 50px;
}

.header-contact-item,
.header-list-item,
.header-link,
.link,
.contacts-footer-item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--nav-txt-cl);
}

.header-contact-item:not(:first-child) {
  margin-left: 50px;
}

.header-link {
  padding-top: 25px;
  padding-bottom: 25px;
}

.contacts {
  margin-left: auto;
}

.contacts-footer-item {
  color: var(--white-color);
}

.header-contact-item:hover,
.header-contact-item:focus,
.contacts-footer-item:hover,
.contacts-footer-item:focus {
  color: var(--accent-color);
}

/* Header Portfolio */
  /* portfolio buttons */
  .prt-buttons > .list{
    display: flex;
    justify-content: space-evenly;
  }


/* main */

.main-name {
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 35;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 30px;
  
}

.main-prt {
  margin-top: 94px;
  
}

.main-list-prt {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* hero */

.hero-btn {
  display: block;
  font: inherit;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: var(--white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  min-width: 200px;
  height: 50px;
  align-items: flex-start;
}

.hero-btn:hover,
.hero-btn:focus {
  background: var(--btn-hover);
}

/* about */

.about-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--nav-txt-cl);
}

.about-txt {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--often-color);
}

.about-list {
  align-items: center;
}

.about-container-list {
  display: flex;
  margin-top: 94px;
  margin-bottom: 94px;
  justify-content: space-between;
  flex-basis: 270px;
}

.about-items {
  width: 270px;
  height: 101px;
  padding-right: 30px;
}

/* what we do */

.wwd-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--nav-txt-cl);
}

.wwd {
  font-size: 36px;
  color: var(--nav-txt-cl);
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.wwd-container {
  display: flex;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 94px;
}

.wwd-container:not(:last-child) {
  padding-right: 30px;
}

.wwd-items {
  width: 370px;
  height: 294px;
}

.container-team > .item:not(:last-child) {
  margin-right: 30px;
}
/* Command */
.command {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--nav-txt-cl);
  align-items: center;
  padding-bottom: 50px;
  padding-top: 94px;
}

.command-container {
  margin-top: 94px;
  margin-bottom: 94px;
  
}

.command-list {
  display: flex;
  padding-bottom: 94px;
}
.comand-item {
  margin-bottom: 108px;
}

.command-item:not(:last-child) {
  margin-right: 30px;
}

/* name */
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--nav-txt-cl);
}

.position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--often-color);
}

.name-position {
  background: var(--white-color);
/* material shadow v1 */
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.prt-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--nav-txt-cl);
  font-family: inherit;
}
/* footer */
.footer-container {
  display: block;

}

.button.current {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.prt-btn:hover {
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--white-color);
}

.link.current {
  color: var(--accent-color);
}

.item-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--nav-txt-cl);
}

.item-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--often-color);
}

.link-cnt {
  color: var(--often-color);
}

.link-cnt:hover,
.link-cnt:focus {
  color: var(--accent-color);
}

.footer {
  background-color: var(--hero-color);
}
